<div class="d-flex flex-column align-items-center my-5">
  <div class="card card-cfa d-flex flex-column p-4" 
  style="width: 37rem; border-radius: 26px!important; box-shadow: 0px 2px 25px 2px #4e88bcc1">
    <img [src]="logocfa" class="card-img-top" alt="logo du cfa">
    <hr>
    <div class="card-body">
      <h5 class="card-title">CFA INSTA,</h5>
      <p class="card-text" style="text-align: justify;">
        UN TREMPLIN POUR LA RÉUSSITE PROFESSIONNELLE
    Créé en 2009 par Ryad Lebib et Hubert Trapet, le CFA INSTA accueille et forme près de 600 étudiant(e)s par an pour leur assurer un avenir professionnel.
    Notre réactivité et notre écoute du marché s’est traduite par la mise en place de formations adaptées et diplômantes reconnues par l’État (titres RNCP et diplômes d’État), en informatique (développement, logiciel et réseaux), en ressources humaines et en comptabilité. Depuis près de 10 ans, le CFA INSTA propose plusieurs formations en alternance (contrat d’apprentissage ou de professionnalisation) en comptabilité et RH et en initiale et en alternance en informatique. Nos formations vont de bac+ 2 à bac+5.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i class="fa-solid fa-map-pin" style="color: red; margin-right: 10px"></i>
        12 Rue de Cléry, 75002 Paris
      </li>
      <li class="list-group-item d-flex justify-content-between px-3">
        <div>
          <a href="tel:+143417250">
            <i class="fa-solid fa-tty" style="color: rgb(29, 86, 136); margin-right: 10px"></i>
            01 43 41 72 50
          </a>
        </div>
        <a href="mailto:d.levy@cfa-insta.fr">
          <i class="fa-solid fa-person-military-rifle" style="color: rgb(29, 86, 136); margin-right: 10px"></i>
          Directeur du CFA INSTA
        </a>
      </li>
      <a href="https://cfa-insta.fr">
      <i class="list-group-item " style="color: rgb(29, 86, 136); margin-right: 10px">https://cfa-insta.fr </i>
    </a>
    </ul>
    <div class="card-body">
      <a routerLink="/salles" class="card-link">Nos salles</a>
      <a routerLink="/promos" class="card-link">Nos promos</a>
    </div>
  </div>
</div>  
 